*{
    padding: 0px;
    margin:0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #333, #555);
    color: #eee;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    padding: 0 15px;
    transition: color 0.3s ease;
    border-radius: 5px;
}

.nav-link:hover {
    color: #f39c12;
}

.navbar {
    background: linear-gradient(90deg, #333, #555);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.results, #ffmiResults {
    margin-top: 20px;
}

#bmrResult, #totalBodyFat, #leanWeight, #ffmi, #adjustedFfmi {
    font-size: 18px;
    color: #333;
}

#ffmiResults {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ffmiResults h3 {
    color: #444;
}

#ffmiResults p {
    font-size: 18px;
    color: #555;
}

canvas {
    margin: 20px auto;
    display: block;
}
